* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

nav {
    position: fixed;
    width: 10%;
    height: 100vh;
    left: 90%;
    display: flex;
    flex-direction: column;
}

nav #nav-tog{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 15%;
    height: auto;
    background: #999;
}

nav #nav-sec{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
nav #nav-sec img{
    width: 30%;
    height: auto;
}
nav #nav-sec div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    border-bottom: 1px solid white;
    /* background: #f55; */
    background: #377;
}
nav #nav-sec div span{
    text-align: center;
    color: #fff;
}

.big{
    top: 20px;
    transform: scale(1.1);
}

main{
    width: 85%;
    margin-left: 5%;
}

.main-sec{
    min-height: 100vh;
    /* background: #000; */
}
