body {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
svg {
    visibility: hidden;
    display: block; 
    /* text-align: left; */
}






svg.head.logo {
    visibility: visible;
    animation: opa-0-1 2s forwards, fill 0.3s forwards 2.1s;
}


.logo path:nth-child(1) {
    stroke-dasharray: 508.5516357421875;
    stroke-dashoffset: 508.5516357421875;
    animation: line-anim 1.5s ease forwards 0.1s;
}

.logo path:nth-child(2) {
    stroke-dasharray: 565.950439453125;
    stroke-dashoffset: 565.950439453125;
    animation: line-anim 1.5s ease forwards 0.2s;
}

.logo path:nth-child(3) {
    stroke-dasharray: 604.4829711914062;
    stroke-dashoffset: 604.4829711914062;
    animation: line-anim 1.5s ease forwards 0.3s;
}

.logo path:nth-child(4) {
    stroke-dasharray: 336.6720275878906;
    stroke-dashoffset: 336.6720275878906;
    animation: line-anim 1.5s ease forwards 0.4s;
}
.logo path:nth-child(5) {
    stroke-dasharray: 490.2920837402344;
    stroke-dashoffset: 490.2920837402344;
    animation: line-anim 1.5s ease forwards 0.5s;
}
.logo path:nth-child(6) {
    stroke-dasharray: 508.5523986816406;
    stroke-dashoffset: 508.5523986816406;
    animation: line-anim 1.5s ease forwards 0.6s;
}
.logo path:nth-child(7) {
    stroke-dasharray: 336.6719055175781;
    stroke-dashoffset: 336.6719055175781;
    animation: line-anim 1.5s ease forwards 0.7s;
}






















@keyframes opa-0-1{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fill {
    from {
        fill: transparent;
    }

    to {
        fill: black;
    }
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}