* {
	transition: all 0.3s !important;
}

.center-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-height-width {
	height: 60px;
	width: 60px;
	transition: all 0.3s;
}

.icon-height-width i {
	margin: 0 !important;
}

.icon-height-width:hover {
	background: rgba(255, 255, 255, 0.2);
}

/* to remove the inout underline */
.input-field input[type='text']:focus+label {
	color: #000 !important;
	margin: 0px !important;
}

.input-field input[type='text']:focus {
	border-bottom: none !important;
	box-shadow: none !important;
	margin: 6px 0 0 0 !important;
}

.main {
	display: grid;
	grid-template-columns: 15% 85%;
	/* min-height: calc(100vh - 64px); */
}

.side-nav {
	max-height: calc(100vh - 64px);
	height: min-content;

	position: sticky;
	position: -webkit-sticky;

	top: 74px;
}

.side-nav .row {
	margin: 5px 0;
	padding: 5px 13px;
	border-top-right-radius: 45px;
	border-bottom-right-radius: 45px;
	/* transition: all 0.3s; */
}

.side-nav .row:hover {
	background: rgba(0, 0, 0, 0.1);
}

.side-nav .row .col {
	padding-right: 0;
	padding-top: 5px;
}

.notes-area {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1vw;

	padding: 30px 10%;
}

.create-notes{
	grid-column: 1/5;
	min-height: 80px
}

.notes-area-display{
	min-height: calc(89vh - 124px) !important;
}

#create-notes{
	margin: 8px auto;
	width: 50%;
	height: 43.33px;
	/* padding: 10px; */
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3),
				0 0 4px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

#create-notes .take-notes-placeholder{
	width: 100%;
	padding: 10px;
	font-size: 20px;
	font-weight: 600;
	color: grey;
}

#create-notes .take-notes-icons{
	width: 100%;
	text-align: end;
}
#create-notes .take-notes-icons .icon-height-width:hover{
	background: rgba(0, 0, 0, 0.1);
}

#create-notes .icon-height-width{
	height: 43.33px;
	width: 43.33px;
	margin: 0 7px;
}

#create-notes div i{
	font-size: 25px;
}

.note{
	/* min-height: ; */
	position: relative;
	border-radius: 10px;
	border: 2px solid rgba(0,0,0,0);
	
	padding: 10px;
	/* 5px more than .icon-height-width inside .note-icon-tray to give space to icon tray */
	padding-bottom: 30px;
	margin: 10px;
}
.note:hover{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4),
				0 0 4px rgba(0, 0, 0, 0.4);
	border: 2px solid rgba(0,0,0,0.4);
}

.note-icon-tray{
	visibility: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.note:hover .note-icon-tray{
	visibility: visible;
}

.note-icon-tray .icon-height-width{
	height: 30px;
	width: 30px;
}

.note-icon-tray .icon-height-width i{
	font-size: 20px;
}